@import 'variables';

#app {
  background-image: url('../../public/background/pokeball.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 300px 300px;
  background-attachment: fixed;
}

.v-container {
  max-width: 1200px;
}
